
.card-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px !important;
    padding : 20px !important;
}
.flex{
     display: flex;
     flex-wrap: wrap;
     padding : 10px !important;
     margin : 20px !important;
}
.column{
     padding : 10px !important;
}
.card-action{
     margin-top : auto;
}