.codeEditor{
     outline: none;
}

.textArea{
     width: 100%;
     height: 130px;
     border-radius: 10px;
     padding: 10px;
     border: 1px solid #474643;
     resize: none;
     font-size: 15px; 
     outline: none;
}
.textArea::placeholder{
     font-size: 15px;
}

 